.container{
    position:relative;
    height: 100%;
    width: 100%;
}

div.box{
    position:absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 30%;
    width: 30%;
    border: 2px solid black;
}