.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.circlesContainer{
    position:absolute;
    height: 100%;
    width: 100%;
}

.pieContainer{
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:300px;
    width: 300px;
    border-radius:50%;
    border:2px solid black;
    overflow:hidden;
    z-index:10;
    transform:scale(1);
    transition: all .3s 

}
.hidden{
    transform:scale(.1)
}
.innerCircle{
    position:absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border:1px solid black;
    background-color: lightskyblue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index:11;
    outline:none;
}

.sq{
    position:absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    transform-origin: left top;
    box-sizing:border-box;
    
}
.sq:first-child>svg{
    text-align:center;
    position:absolute;
    transform: skew(-45deg)translate(77px, 30px)rotate(90deg)
}

.sq:nth-child(2)>svg{
    text-align:center;
    position:absolute;
    transform: skew(-45deg)translate(77px, 30px)rotate(45deg)
}

.sq:nth-child(3)>svg{
    text-align:center;
    position:absolute;
    transform: skew(-45deg)translate(77px, 30px)rotate(0deg)
}
.sq:nth-child(4)>svg{
    text-align:center;
    position:absolute;
    transform: skew(-45deg)translate(77px, 30px)rotate(-45deg)
}

.sq:first-child{
    transform:rotate(-90deg)skew(45deg);
}
.sq:nth-child(2){
    transform:rotate(-45deg)skew(45deg);
}
.sq:nth-child(3){
    transform:rotate(0deg)skew(45deg);
}
.sq:nth-child(4){
    transform:rotate(45deg)skew(45deg);
}
.sq:nth-child(even){
    background-color:red;
}
.sq:nth-child(odd){
    background-color:orange;
}